/*######## default ######*/


nav{
  width: 100%;
  line-height: 2px;

}

button.nav-link.btn.pad{
  padding-left: 1px;
  padding-right: 1px;
}

.card-body{
  animation: fadein 1s;
}

div.container-fluid.part1{
  background-color: rgb(255, 255, 255);
}

div.card-title, 
div.welcome{
  text-align: left;
  font-size: 30px;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

div.welcome{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

img.side-dash{
  width: 427px;
  height: 280px;
}

div.cardtext.text123{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 25px;
}


@keyframes fadein{
  from{
    opacity: 0;
    transform: translateY(100%) rotateX(-5deg);
  }
  to{
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);
    
  }
}