/*######## default ######*/


nav {
  width: 100%;
}

hr.mar {
  color: white;
  margin: 0;
}

.card-body {
  animation: fadein 1s;
}


div.container-fluid.nav-full {
  padding-left: 5rem;
  padding-right: 5rem;
}

a.nav-link {
  margin-left: 2rem;
  margin-right: 2rem;
}

div.container-fluid.part1 {
  background-color: white;
  padding: none;
}

div.col-sm-12.main2{
  padding: 0%;
}


div.card-title,
div.welcome {
  text-align: left;
  font-size: 30px;
  font-family: 'Edu VIC WA NT Beginner', cursive;

}

div.welcome {
  padding-top: 90px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 90px;
}

img.side-dash {
  width: 401px;
  height: 220px;
  float: right;
}


div.card-title.website {

  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 4rem;
  font-family: "SF Pro Display", "SF Pro Icon", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;

  /* font-size: 50px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  font-style: italic; */

}

div.tired {
  font-size: 30px;
}

div.row.caro{
  padding: 0%;
}

div.container-fluid.caro{
  padding: 0%;
}

div.caro{
  padding-left: 5rem;
  padding-right: 5rem;
}


div.col-lg-7.caro-left{

  padding:0px, 20px,0px;
  border-radius: 2rem;

}

div.col-lg-5.caro-right{
   background-color:aliceblue 
   padding: 20px;
   border-radius: 2rem;
}

img.d-block.w-100{
  border-radius: 2rem;
}

.carousel-inner {
  max-height: 1080px;
}

div.row.websit-list{
  background-color: aliceblue;
}

div.col-lg-4.hackranker {
  padding: 30px;
  padding-bottom: 40px;
  text-align: center;
}

div.card {
  border-color: #212529;
  padding: 10px;
  width: 30rem;
  text-align: center;
  border-radius: 3rem;
}

div.cpp{
  padding-left: 5rem;
  padding-right: 5rem;
}

img.card-img-top {
  height: 150px;
}

p.copy {
  text-align: center;
  padding: 100px 0 100px;
}




@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100%) rotateX(-5deg);
  }

  to {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);

  }
}

@media only screen and(max-width: 1400px) {
  div.card {
    width: 10rem;
    text-align: center;
  }
}

@media only screen and (max-width:600px) {
  div.welcome {
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
  }

  img.side-dash {
    padding-top: 10px;
    width: 320px;
    height: 210px;
  }

  div.hackranker {
    padding: 30px;
    text-align: center;
  }

  div.card {
    width: 25rem;
  }

  div.cpp{
    padding-left: 0;
    padding-right: 0;
  }

  div.caro{
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
