body {
  font-family: Arial;
  font-size: 17px;
  background-repeat: none;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: auto;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #33323283;
  padding: 5px 20px 15px 20px;
  border: 1px solid rgb(114, 220, 252);
  border-radius: 3px;
  margin-top: 250px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgb(113, 253, 253);
  border-radius: 3px;
}

input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgb(113, 253, 253);
  border-radius: 3px;
}

button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgb(113, 253, 253);
  border-radius: 3px;
  font-size: 15px;
}

label {
  margin-bottom: 10px;
  display: block;
}


a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');